/* overrides bootstrap */

html, 
body {
	background-color: white;
}

textarea {
	resize: none;
}

ul {
	padding-left: 20px;
}

.md-button {
	margin-bottom: 10px;
	margin-top: 10px;
}

/* overrides angular-material */

.md-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.md-button:focus,
.md-button:active:focus,
.md-button.active:focus,
.md-button.focus,
.md-button:active.focus,
.md-button.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.md-button:hover,
.md-button:focus,
.md-button.focus {
  color: #333;
  text-decoration: none;
}
.md-button:active,
.md-button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.md-button.disabled,
.md-button[disabled],
fieldset[disabled] .md-button {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.md-button.disabled,
fieldset[disabled] a.md-button {
  pointer-events: none;
}

/* overrides angular-material */

.md-confirm-button {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.md-confirm-button:focus,
.md-confirm-button.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.md-confirm-button:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.md-confirm-button:active,
.md-confirm-button.active,
.open > .dropdown-toggle.md-confirm-button {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.md-confirm-button:active:hover,
.md-confirm-button.active:hover,
.open > .dropdown-toggle.md-confirm-button:hover,
.md-confirm-button:active:focus,
.md-confirm-button.active:focus,
.open > .dropdown-toggle.md-confirm-button:focus,
.md-confirm-button:active.focus,
.md-confirm-button.active.focus,
.open > .dropdown-toggle.md-confirm-button.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.md-confirm-button:active,
.md-confirm-button.active,
.open > .dropdown-toggle.md-confirm-button {
  background-image: none;
}
.md-confirm-button.disabled:hover,
.md-confirm-button[disabled]:hover,
fieldset[disabled] .md-confirm-button:hover,
.md-confirm-button.disabled:focus,
.md-confirm-button[disabled]:focus,
fieldset[disabled] .md-confirm-button:focus,
.md-confirm-button.disabled.focus,
.md-confirm-button[disabled].focus,
fieldset[disabled] .md-confirm-button.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.md-confirm-button .badge {
  color: #d9534f;
  background-color: #fff;
}

/* overrides angular-material */

.md-cancel-button {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.md-cancel-button:focus,
.md-cancel-button.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.md-cancel-button:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.md-cancel-button:active,
.md-cancel-button.active,
.open > .dropdown-toggle.md-cancel-button {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.md-cancel-button:active:hover,
.md-cancel-button.active:hover,
.open > .dropdown-toggle.md-cancel-button:hover,
.md-cancel-button:active:focus,
.md-cancel-button.active:focus,
.open > .dropdown-toggle.md-cancel-button:focus,
.md-cancel-button:active.focus,
.md-cancel-button.active.focus,
.open > .dropdown-toggle.md-cancel-button.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.md-cancel-button:active,
.md-cancel-button.active,
.open > .dropdown-toggle.md-cancel-button {
  background-image: none;
}
.md-cancel-button.disabled:hover,
.md-cancel-button[disabled]:hover,
fieldset[disabled] .md-cancel-button:hover,
.md-cancel-button.disabled:focus,
.md-cancel-button[disabled]:focus,
fieldset[disabled] .md-cancel-button:focus,
.md-cancel-button.disabled.focus,
.md-cancel-button[disabled].focus,
fieldset[disabled] .md-cancel-button.focus {
  background-color: #fff;
  border-color: #ccc;
}
.md-cancel-button .badge {
  color: #fff;
  background-color: #333;
}

/* overrides angular-material */

.md-dialog-container {
  background-color: rgba(0,0,0,0.5);
}

md-dialog {
  background-color: white;
}

.md-button span {
  text-transform: none;
  font-weight: normal;
}
