/* primitives */

.row-fluid {
	float: left;
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.controls {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	border-top: 1px solid gray;
}

/* items */

h1 {
	padding-left: 35px;
}

hr {
	width: 100%;
}

.nav-mobile-menu {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px 15px 0px 15px;
}

.nav-mobile-menu label {
	padding: 9px 0px 0px 0px;
	margin: 0;
}

#nav-mobile-toggle {
	display: none;
}

@media (min-width: 640px) {
	.items-nav {
		width: 20%;
	}

	.items-list {
		width: 80%;
	}
	.items-nav.ng-hide {
		display: block !important;
	}
	.nav-mobile-menu,
	.nav-mobile-scroll {
		display: none;
	}
	h1 {
		padding-left: 0px;
	}
	.float-right {
		float: right;
	}
}


.input-deletable {
	width: 80%;
}

.nav-link,
.nav-link:active,
.nav-link:hover {
	text-decoration: none;
}

.nav-delete {
	width: 10%;
	padding: 2%;
}

.nav-mobile-scroll {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	background-color: lightgray;
	border-radius: 20px;
}

.nav-mobile-scroll > a {
	color: white;
	padding: 8px 10px 12px 10px;
    font-size: 20px;
}

.items-list h2 {
	font-size: 14px;
}

.items-list .item {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.items-list .item:hover {
	box-shadow: 0 0 2px 0px lightgray;
}
.items {
	float: left;
    width: 100%;
}

.item-actions {
	position: absolute;
	top: -5px;
	left: -5px;
	display: none;
	background-color: white;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
}
.item:hover .item-actions {
	display: block;
}

.item-action,
a.item-action {
	opacity: 0.5;
	padding: 6px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 3px;
	border: 1px solid transparent;
	text-decoration: none;
}

.item-action:hover,
a.item-action:hover {
	opacity: 1;
	text-decoration: none;
	border: 1px solid #2e6da4;
	border-radius: 4px;
}

.item-action-danger,
a.item-action-danger,
.item-action-danger:hover,
a.item-action-danger:hover {
	color: red;
	
}
.item-action-danger:hover,
a.item-action-danger:hover {
	border: 1px solid red;
}

.container-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.content-ratio {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.content-ratio img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}

.ui-draggable-dragging {
	box-shadow: 0 0 2px 0px lightgray;
}

.ui-droppable-hover {
	outline: 1px solid gray;
	outline-offset: 4px;
	background-color: white;
	z-index: 1;
}

/* view */

.item-poster {
	max-width: 100px;
	max-height: 100%;
	display: block;
	float:left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.item-entries {
	list-style: none;
	float: left;
	width: 100%;
	display: block;
	padding: 0px;
}

.item-entry {
	float: left;
	width: 100%;
	display: block;
}

.item-key {
	float: left;
	display: block;
	color: gray;
	width: 80px;
	margin-right: 20px;
	text-align: right;
}
.item-value {
	float: left;
	display: block;
	width: auto;
}

/* edit */

md-autocomplete,
.input-text {
	float: left; 
	margin-right: 10px;
	margin-bottom: 10px;
}

md-autocomplete input {
	width: 150px;
}

md-autocomplete-wrap {
	width: 220px;
}

.edit .item-key {
	width: auto;
	min-width: 220px;
	max-width: 100%;
	line-height: 40px;
}

.input-text {
	height: 40px;
	min-width: 190px;
}


.area-text {
	width: 100%;
	resize: none;
}

.input-text,
.area-text,
.md-datepicker-input {
	line-height: 40px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	border: none;
	padding: 0px 15px
}

.md-datepicker-input-container {
	border: none;
}

.md-datepicker-calendar,
md-virtual-repeat-container {
	background-color: white;
}

md-virtual-repeat-container .selected {
	background-color: gray;
}

.md-calendar-date:hover > span {
	border-radius: 40px;
	background-color: gray;
}

.md-calendar-date-today > span {
	border-radius: 40px;
	background-color: lightgray;
}

.md-datepicker-triangle-button.md-button.md-icon-button {
	width: 40px;
	height: 40px;
	top: 10px;
	right: 10px;

}

.md-datepicker-input-container {
	padding: 0px;
}

.edit .item-street {
	width: 100%;
}


/* TODO */

.google-map {
	width: 500px;
	height: 100px;
}



form input.ng-invalid {
	outline: 2px solid orange !important;
}
.link.active {
	font-weight: bold;
}
