/* primitives */

.row-fluid {
	float: left;
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.nofloat {
	float: none !important;
}

.controls {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	border-top: 1px solid gray;
}

.link.active {
	font-weight: bold;
}

/* members */

h1 {
	padding: 10px 15px 10px 50px;
	margin: 0px;
	background-color: black;
	color: lightgray;
}

hr {
	width: 100%;
	border-color: gray;
}

i {
	margin-right: 4px;
}

.nav-mobile {
	padding: 0px 15px 0px 15px;
	float: left;
	background-color: black;
	color: lightgray;
	width: 100%;
}
.nav-mobile input {
	background-color: lightgray;
	color: black;
}
.nav-mobile-menu {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	padding: 10px 15px 10px 15px;
	background-color: black;
	color: lightgray;
}

.nav-mobile-menu label {
	padding: 9px 0px 0px 0px;
	margin: 0;
}

#nav-mobile-toggle {
	display: none;
}

@media (min-width: 640px) {
	h1 {
		padding: 15px;
	}
	h1,
	.nav-mobile {
		background-color: white;
		color: black;	
	}
	.nav-mobile input {
		background-color: white;
	}
	.members-nav {
		width: 20%;
	}

	.members-list {
		width: 80%;
	}
	.members-nav.ng-hide {
		display: block !important;
	}
	.nav-mobile-menu,
	.nav-mobile-scroll {
		display: none;
	}
	.float-right {
		float: right;
	}
}


.input-deletable {
	width: 80%;
}

.nav-link,
.nav-link:active,
.nav-link:hover {
	text-decoration: none;
}

.nav-delete {
	width: 10%;
	padding: 2%;
}

.nav-mobile-scroll {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	background-color: lightgray;
	border-radius: 20px;
}

.nav-mobile-scroll > a {
	color: white;
	padding: 8px 10px 12px 10px;
    font-size: 20px;
}

.members-list {
	margin-top: 15px;
}
.members-list h2 {
	font-size: 14px;
}

.members-list .member {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.members-list .member:hover {
	box-shadow: 0 0 2px 0px lightgray;
}
.members {
	float: left;
    width: 100%;
}

.member-actions {
	position: absolute;
	top: -5px;
	left: -5px;
	display: none;
	background-color: white;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
}
.member:hover .member-actions {
	display: block;
}

.member-action,
a.member-action {
	opacity: 0.5;
	padding: 6px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 3px;
	border: 1px solid transparent;
	text-decoration: none;
}

.member-action:hover,
a.member-action:hover {
	opacity: 1;
	text-decoration: none;
	border: 1px solid #2e6da4;
	border-radius: 20px;
}

.member-action-danger,
a.member-action-danger,
.member-action-danger:hover,
a.member-action-danger:hover {
	color: red;
	
}
.member-action-danger:hover,
a.member-action-danger:hover {
	border: 1px solid red;
}

.member:hover .member-action-drag {
	cursor: move;
}
.member:hover .member-action-drag:hover {
	border: 1px solid transparent;
}

/* image / upload */

.member-upload {
	position: relative;
	display: block;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.member-upload-errors {
	float: left;
	display: block;
	width: 100%;
	margin-top: 15px;
	color: orange;
}

.member-poster {
	min-width: 200px;
	min-height: 200px;
	max-width: 200px;
	display: block;
	float:left;
}

.member-upload:hover .member-action-upload {
	display: block;
}

.member-action-upload {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	font-size: 50px;
	transform: translate(-50%, -50%);
	border: 8px dotted gray;
	border-radius: 30px;
	padding: 50px;
}

.uploading:hover .member-action-upload {
	display: none;
}
.uploading .member-poster,
.member-upload:hover .member-poster {
	opacity: 0.1;
}

.member-upload-progress {
	width: 50%;
	position: absolute;
	left: 50%;
	bottom: 20%;
	display: block;
	transform: translate(-50%, 0%);
}

.container-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.content-ratio {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.content-ratio img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}

.ui-draggable-dragging {
	box-shadow: 0 0 2px 0px lightgray;
}

.ui-droppable-hover {
	outline: 1px solid gray;
	outline-offset: 4px;
	background-color: white;
	z-index: 1;
}

/* view */

.member-entries {
	list-style: none;
	float: left;
	width: 100%;
	display: block;
	padding: 0px;
}

.member-entry {
	float: left;
	width: 100%;
	display: block;
}

.member-key {
	float: left;
	display: block;
	color: gray;
	width: 80px;
	margin-right: 20px;
}
.member-value {
	float: left;
}

/* edit */

md-autocomplete,
.input-text {
	margin-right: 10px;
	margin-bottom: 10px;
}

.edit .member-key {
	line-height: 40px;
}

.input-text {
	height: 40px; 
}

.input-text,
.edit .member-value,
md-autocomplete,
md-autocomplete-wrap,
md-autocomplete input {
	float: left;
	width: 100%;
	display: block;
}

.edit .member-key {
	float: left;
	width: 50%;
	display: block;
}

@media (min-width: 640px) {
	.input-text {
		height: 40px;
		min-width: 190px;
		width: auto;
	}
	.edit .member-key {
		min-width: 220px; 
	}
	.edit .member-key,
	.edit .member-value,
	md-autocomplete {
		width: auto;
	}
	md-autocomplete input {
		width: 150px;
	}

	md-autocomplete-wrap {
		width: 220px;
	}
	.member-key {
		text-align: right;
	}
}

.area-text {
	width: 100%;
	min-height: 4em;
	resize: none;
}

.input-text,
.area-text,
.md-datepicker-input {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	border: none;
	padding: 0px 15px
}

.input-text,
.md-datepicker-input {
	line-height: 40px;
}

.md-datepicker-input-container {
	border: none;
}

.md-datepicker-calendar,
md-virtual-repeat-container {
	background-color: white;
}

md-virtual-repeat-container .selected {
	background-color: gray;
}

.md-calendar-date:hover > span {
	border-radius: 40px;
	background-color: gray;
}

.md-calendar-date-today > span {
	border-radius: 40px;
	background-color: lightgray;
}

.md-datepicker-triangle-button.md-button.md-icon-button {
	width: 40px;
	height: 40px;
	top: 10px;
	right: 10px;

}

.md-datepicker-input-container {
	padding: 0px;
}

.edit .member-street {
	width: 100%;
}

form input.ng-invalid {
	outline: 2px solid orange !important;
}


/* TODO */

.google-map {
	width: 500px;
	height: 100px;
}

.fileupload {
	width: 100px;
	height: 100px;
	display: block;
	background-color: red;
}