<form name="form" ng-controller="FormMemberController" ng-submit="form.$valid && submit()" ng-cloak class="edit">
	
	<h2 class="row-fluid" >
		<img class="member-poster" ng-src="{{member.poster}}">
		<label for="member.firstname" class="hidden">Firstname</label>
		<input name="member.firstname" type="text" class="input-text" ng-model="member.firstname" placeholder="Firstname" title="Fistname" required />
		<label for="member.lastname" class="hidden">Lastname</label>
		<input name="member.lastname" type="text" class="input-text nofloat" ng-model="member.lastname" placeholder="Lastname" title="Lastname" required />
		<label for="member.position" class="hidden">Position</label>
		<input name="member.position" type="text" class="input-text" ng-model="member.position" placeholder="Position" title="Position" required />
	</h2>

	<div class="row-fluid" >
		<h3>Addresses</h3>
		<ul class="member-entries">
			<li ng-repeat="each in member.addresses" ng-controller="KeyValueAutocompleterController" class="member-entry" >
				<ng-form name="addressForm">
					<div class="member-key" ng-include="'/templates/formType.html'" ng-controller="FormTypeController" ></div>
					<address class="member-value">
						<div>
							<label for="street" class="hidden">Street</label>
							<input name="street" type="text" class="input-text member-street" ng-model="each.street" placeholder="Street" required />
						</div>
						<div>
								<label for="zip" class="hidden">Zip</label>
								<input name="zip" type="hidden" ng-model="each.zip" />
								<md-autocomplete md-selected-item="each.zip" md-search-text="searchTextZip" md-items="zip in getAllSuggestionsWithSearch('zip', searchTextZip, 10) | filter:searchTextZip" md-item-text="zip" md-require-match="false" md-autoselect="true" md-min-length="0" placeholder="Zip-Code" required>
									<span md-highlight-text="searchTextZip">{{zip}}</span>
								</md-autocomplete>
								<label for="city" class="hidden">City</label>
								<input name="city" type="hidden" ng-model="each.city" />
								<md-autocomplete md-selected-item="each.city" md-search-text="searchTextCity" md-items="city in getAllSuggestionsWithSearch('city', searchTextCity, 10) | filter:searchTextCity" md-item-text="city" md-require-match="false" md-autoselect="true" md-min-length="0" placeholder="City" required>
									<span md-highlight-text="searchTextCity">{{city}}</span>
								</md-autocomplete>
						</div>
						<div>
								<label for="country" class="hidden">Country</label>
								<input name="country" type="hidden" ng-model="each.country" />
								<md-autocomplete md-selected-item="each.country" md-search-text="searchTextCountry" md-items="country in getAllSuggestionsWithSearch('country', searchTextCountry, 10) | filter:searchTextCountry" md-item-text="country" md-require-match="false" md-autoselect="true" md-min-length="0" placeholder="Country" required>
									<span md-highlight-text="searchTextCountry">{{country}}</span>
								</md-autocomplete>
						</div>
						<div>
							<div ng-if="googleMap" ng-show="addressForm.street.$valid && addressForm.zip.$valid && addressForm.city.$valid">
								<label for="map">Map</label>
								<input name="map" type="checkbox" ng-model="each.map" onclick="Tribe.lazyInitGoogleMap(jQuery(this));" />
							</div>
							<div class="google-container" ng-if="googleMap && addressForm.street.$valid && addressForm.zip.$valid && addressForm.city.$valid && each.map === true">
								<div class="google-map" data-address="{{each}}" data-editable="true"></div>
								<input type="hidden" ng-model="each.lat"/>
								<input type="hidden" ng-model="each.lng"/>
								<input type="hidden" ng-model="each.zoom"/>
							</div>
						</div>
					</address>
					<a href="" ng-click="removeListEntry(member.addresses, each)" class="member-action member-action-danger glyphicon glyphicon-trash" title="Remove address"><span class="hidden">Remove address</span></a>
					<a href="" ng-if="$last" ng-click="addListEntry(member.addresses, emptyAddress())" class="glyphicon glyphicon-plus member-action" title="Add address"><span class="hidden">Add address</span></a>
				</ng-form>
			</li>
		</ul>
		
	</div>

	<div class="row-fluid" >
		<h3>Phone Numbers</h3>
		<ul class="member-entries">
			<li ng-repeat="each in member.phonenumbers" class="member-entry">
				<div class="member-key" ng-include="'/templates/formType.html'" ng-controller="FormTypeController" ></div>
				<label for="phonenumber.phone" class="hidden">Number</label>
				<input name="phonenumber.phone" type="tel" ng-model="each.phone" class="input-text" placeholder="Phone number" required/>
				<a href="" ng-click="removeListEntry(member.phonenumbers, each)" class="member-action member-action-danger glyphicon glyphicon-trash" title="Remove phone number"><span class="hidden">Remove phone number</span></a>
				<a href="" ng-if="$last" ng-click="addListEntry(member.phonenumbers, emptyPhoneNumber())" class="glyphicon glyphicon-plus member-action" title="Add phone number"><span class="hidden">Add phone number</span></a>
			</li>
		</ul>
	</div>

	<div class="row-fluid" >
		<h3>E-mail</h3>
		<ul class="member-entries">
			<li ng-repeat="each in member.emails" class="member-entry">
				<div class="member-key" ng-include="'/templates/formType.html'" ng-controller="FormTypeController" ></div>
				<label for="email.email" class="hidden">E-Mail</label>
				<input name="email.email" type="email" ng-model="each.email" class="input-text" placeholder="E-mail address" required/>
				<a href="" ng-click="removeListEntry(member.emails, each)" class="member-action member-action-danger glyphicon glyphicon-trash" title="Remove E-mail address"><span class="hidden">Remove E-mail address</span></a>
				<a href="" ng-if="$last" ng-click="addListEntry(member.emails, emptyEmail())" class="glyphicon glyphicon-plus member-action" title="Add E-mail address"><span class="hidden">Add E-mail address</span></a>
			</li>
		</ul>
		
	</div>

	<div class="row-fluid" >
		<h3>Various</h3>
		<div >
			<span class="member-key">Birthday</span>
			<div class="member-value">
				<md-datepicker ng-model="member.birthday" md-placeholder="{{today()}}" placeholder="Birthday"></md-datepicker>
			</div>
		</div>
	</div>

	<div class="row-fluid" >
		<label for="member.description"><h3>Description</h3></label>
		<textarea name="member.description" type="text" class="area-text" ng-model="member.description" placeholder="Description"/>
	</div>

	<div class="row-fluid" >
		<h3>Groups</h3>
		<ul class="member-entries">
			<li ng-repeat="group in getGroups(member)" class="member-entry">
				<span>{{group.name}}</span>
				<a href="" ng-click="removeGroup(member.groups, group)" class="member-action member-action-danger glyphicon glyphicon-trash" title="Remove from group"><span class="hidden">Remove from group</span></a>
			</li>
			<li class="member-entry">
				<md-autocomplete md-selected-item="addableGroup" md-item-text="group.name" md-search-text="searchText" md-items="group in getAddableGroups(member.groups) | filter:{$:searchText}:false" md-item-text="group.name" md-require-match="false" md-no-cache="true" md-autoselect="true" md-min-length="0" placeholder="Add to group">
					<span md-highlight-text="searchText">{{group.name}}</span>
				</md-autocomplete>
				<a href="" ng-click="addGroup(member.groups, addableGroup)" class="glyphicon glyphicon-plus member-action"  title="Add to group"><span class="hidden">Add to group</span></a>
			</li>
		</ul>
	</div>

	<div class="row-fluid controls" >
		<a href="" ng-click="goBack()" class="btn btn-default" ng-show="form.$pristine">{{textBack}}</a>
		<a href="" ng-click="cancelMemberConfirmed($event)" class="btn btn-danger" ng-show="form.$dirty">{{textCancel}}</a>
		<input type="submit" class="btn btn-primary" value="{{textSave}}" ng-disabled="form.$invalid || form.$error.$required"/>
	</div>
</form>

<script async defer ng-src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7a5yoZSk2DHwukVlykFQUHFy1jTKGm7s&callback=Tribe.initGoogleMaps" ng-if="googleMap"></script>