<form name="form" ng-controller="ItemController" ng-submit="form.$valid && submit()" ng-cloak>
	<img class="item-poster" ng-src="{{item.poster}}">

	<h2>
		<label for="item.firstname" class="item-firstname">Firstname</label>
		<input name="item.firstname" type="text" ng-model="item.firstname" required />
		<label for="item.lastname" class="item-lastname">Lastname</label>
		<input name="item.lastname" type="text" ng-model="item.lastname" required />
	</h2>

	<div>
		<h3>Addresses</h3>
		<ul>
			<li ng-repeat="each in item.addresses" ng-controller="KeyValueAutocompleterController">
				<ng-form name="addressForm">
					<div ng-include="'/templates/type.html'" ng-controller="TypeController" ></div>
					<p>
						<label for="street">Street</label>
						<input name="street" type="text" ng-model="each.street" required />
						<label for="zip">Zip</label>
						<input name="zip" type="hidden" ng-model="each.zip" />
						<md-autocomplete md-selected-item="each.zip" md-search-text="searchTextZip" md-items="zip in getAllSuggestionsWithSearch('zip', searchTextZip, 10) | filter:searchTextZip" md-item-text="zip" md-require-match="false" md-autoselect="true" md-min-length="0" required>
							<span md-highlight-text="searchTextZip">{{zip}}</span>
						</md-autocomplete>
						<label for="city">City</label>
						<input name="city" type="hidden" ng-model="each.city" />
						<md-autocomplete md-selected-item="each.city" md-search-text="searchTextCity" md-items="city in getAllSuggestionsWithSearch('city', searchTextCity, 10) | filter:searchTextCity" md-item-text="city" md-require-match="false" md-autoselect="true" md-min-length="0" required>
							<span md-highlight-text="searchTextCity">{{city}}</span>
						</md-autocomplete>
						<label for="country">Country</label>
						<input name="country" type="hidden" ng-model="each.country" />
						<md-autocomplete md-selected-item="each.country" md-search-text="searchTextCountry" md-items="country in getAllSuggestionsWithSearch('country', searchTextCountry, 10) | filter:searchTextCountry" md-item-text="country" md-require-match="false" md-autoselect="true" md-min-length="0" required>
							<span md-highlight-text="searchTextCountry">{{country}}</span>
						</md-autocomplete>
						<div ng-if="googleMap" ng-show="addressForm.street.$valid && addressForm.zip.$valid && addressForm.city.$valid">
							<label for="map">Map</label>
							<input name="map" type="checkbox" ng-model="each.map" onclick="Tribe.lazyInitGoogleMap(jQuery(this));" />
						</div>
					</p>
					<div class="google-container" ng-if="googleMap && addressForm.street.$valid && addressForm.zip.$valid && addressForm.city.$valid && each.map === true">
						<div class="google-map" data-address="{{each}}" data-editable="true"></div>
						<input type="hidden" ng-model="each.lat"/>
						<input type="hidden" ng-model="each.lng"/>
						<input type="hidden" ng-model="each.zoom"/>
					</div>
					<a href="" ng-click="removeListEntry(item.addresses, each)" title="Remove address">-</a>
				</ng-form>
			</li>
		</ul>
		<a href="" ng-click="addListEntry(item.addresses, emptyAddress())" title="Add address">+</a>
	</div>

	<div>
		<h3>Phone Numbers</h3>
		<ul>
			<li ng-repeat="each in item.phonenumbers">
				<div ng-include="'/templates/type.html'" ng-controller="TypeController" ></div>
				<label for="phonenumber.phone">Number</label>
				<input name="phonenumber.phone" type="tel" ng-model="each.phone" />
				<a href="" ng-click="removeListEntry(item.phonenumbers, each)" title="Remove phone number">-</a>
			</li>
		</ul>
		<a href="" ng-click="addListEntry(item.phonenumbers, emptyPhoneNumber())" title="Add phone number">+</a>
	</div>

	<div>
		<h3>E-mail</h3>
		<ul>
			<li ng-repeat="each in item.emails">
				<div ng-include="'/templates/type.html'" ng-controller="TypeController" ></div>
				<label for="email.email">E-Mail</label>
				<input name="email.email" type="email" ng-model="each.email" />
				<a href="" ng-click="removeListEntry(item.emails, each)" title="Remove E-mail address">-</a>
			</li>
		</ul>
		<a href="" ng-click="addListEntry(item.emails, emptyEmail())" title="Add E-mail address">+</a>
	</div>

	<div>
		<h3>Various</h3>
		<div>
			<span>Birthday</span>
			<md-datepicker ng-model="item.birthday" md-placeholder="{{today()}}"></md-datepicker>
		</div>
		<p>
			<label for="item.description">Description</label>
			<textarea name="item.description" type="text" ng-model="item.description"/>
		</p>
	</div>

	<div>
		<h3>Groups</h3>
		<ul>
			<li ng-repeat="group in getGroups(item)">
				<span>{{group.name}}</span>
				<a href="" ng-click="removeGroup(item.groups, group)" title="Remove from group">-</a>
			</li>
			<li>
				<md-autocomplete md-selected-item="addableGroup" md-item-text="group.name" md-search-text="searchText" md-items="group in getAddableGroups(item.groups) | filter:{$:searchText}:false" md-item-text="group.name" md-require-match="false" md-no-cache="true" md-autoselect="true" md-min-length="0">
					<span md-highlight-text="searchText">{{group.name}}</span>
				</md-autocomplete>
				<a href="" ng-click="addGroup(item.groups, addableGroup)" title="Add to group">+</a>
			</li>
		</ul>
	</div>

	<div>
		<a href="" ng-click="goBack()" class="btn btn-default" ng-show="form.$pristine">{{textBack}}</a>
		<a href="" ng-click="goBack()" class="btn btn-default btn-danger" ng-show="form.$dirty">{{textCancel}}</a>
		<input type="submit" class="btn btn-default btn-primary" value="{{textSave}}" ng-disabled="form.$invalid || form.$error.$required"/>
	</div>
</form>

<script async defer ng-src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7a5yoZSk2DHwukVlykFQUHFy1jTKGm7s&callback=Tribe.initGoogleMaps" ng-if="googleMap"></script>